//song list
.play-list-container {

  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;

}

.play-list-container h3 {
  font-size: 1.4rem;
  margin: 30px 0;
  text-transform: capitalize;
}

.track-list {

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}

.track-list::after{
  content: "";
  width: 240px;

}
.track-container {

  width: 240px;
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  justify-content: flex-start;

}

.track-container-test {
  width: 240px;
  height: 140px;
  background-color: #2196f3;
  margin-bottom: 30px;
}

.track p {
  width: 100%;
  font-size: 0.7rem;
}

.empty-track {
  width: 240px;
  height: 0;
}

;

.track-list-3colms {

}

//@media (max-width: 1300px){
//  .track-container {
//    width: 25%;
//  }
//  .track-container-3colms{
//
//  }
//}
//
//@media (max-width: 1060px){
//  .track-container {
//    width: 33.3%;
//  }
//}

.track {
  border: 1px solid #D8D8D8;
  width: 240px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}



.track > .img-container {
  width: 100%;
  height: 84px;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  background: no-repeat;
  background-size: cover;
  background-position: 0 50%;
cursor: pointer;

}

//normal
.track > .img-container:before {
  content: '';
  width: 100%;
  height: 84px;
  background-color: rgba(0,0,0,0);
  transition: all .3s ease-in;

  position: absolute;
}

.track > .img-container.playing:before {
  content: 'play';
  width: 100%;
  height: 84px;
  background-color: rgba(0,0,0,0.5);
  transition: all .3s ease-in;

  position: absolute;
}

.track > .img-container.playing:after {
  content: '';
  width: 100%;
  height: 50px;
  transition: all .3s ease-in;
  background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.cls-1{fill:#fff;}</style></defs><title>pause-icon</title><path class="cls-1" d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm0,46A21,21,0,1,1,46,25,21,21,0,0,1,25,46Z"/><rect class="cls-1" x="16.5" y="14.5" width="7" height="21" rx="0.5" ry="0.5"/><rect class="cls-1" x="26.5" y="14.5" width="7" height="21" rx="0.5" ry="0.5"/></svg>') no-repeat  50%  50%;
  position: absolute;
  top:17px;
  left: 0;
}
.track > .img-container.playing:before {
  content: '';
  width: 100%;
  height: 84px;
  transition: all .3s ease-in;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}

.track > .img-container.playing:hover:after {
  content: '';
  width: 100%;
  height: 70px;
  transform: translateY(-11px);
  transition: all .3s ease-in;
  background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.cls-1{fill:#fff;}</style></defs><title>pause-icon</title><path class="cls-1" d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm0,46A21,21,0,1,1,46,25,21,21,0,0,1,25,46Z"/><rect class="cls-1" x="16.5" y="14.5" width="7" height="21" rx="0.5" ry="0.5"/><rect class="cls-1" x="26.5" y="14.5" width="7" height="21" rx="0.5" ry="0.5"/></svg>') no-repeat  50%  50%;
  position: absolute;
  top:17px;
  left: 0;
}

.track > .img-container.pause:after {
  content: '';
  width: 100%;
  height: 50px;
  transition: all .3s ease-in;
  background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.cls-1{fill:#fff;}</style></defs><title>play-icon</title><path class="cls-1" d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm0,46A21,21,0,1,1,46,25,21,21,0,0,1,25,46Z"/><path class="cls-1" d="M19.91,14.39a.73.73,0,0,0-1.14.61V35a.73.73,0,0,0,1.14.61l15-10a.73.73,0,0,0,0-1.22Z"/></svg>') no-repeat  50%  50%;
  position: absolute;
  top:17px;
  left: 0;
}
.track > .img-container.pause:before {
  content: '';
  width: 100%;
  height: 84px;
  transition: all .3s ease-in;
  background-color: rgba(0,0,0,0.5);
  position: absolute;
}

.track > .img-container.pause:hover:after {
  content: '';
  width: 100%;
  height: 70px;
  transform: translateY(-11px);
  transition: all .3s ease-in;
  background: url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50"><defs><style>.cls-1{fill:#fff;}</style></defs><title>play-icon</title><path class="cls-1" d="M25,0A25,25,0,1,0,50,25,25,25,0,0,0,25,0Zm0,46A21,21,0,1,1,46,25,21,21,0,0,1,25,46Z"/><path class="cls-1" d="M19.91,14.39a.73.73,0,0,0-1.14.61V35a.73.73,0,0,0,1.14.61l15-10a.73.73,0,0,0,0-1.22Z"/></svg>') no-repeat  50%  50%;
  position: absolute;
  top:17px;
  left: 0;
}
//img-container pause
//hover

.track > .img-container:hover:before {

  content: '';

  width: 100%;
  height: 84px;
  background-color: rgba(0,0,0,0.5);


  position: absolute;
}


.track-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.track-time {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.track-time p {
  font-size: 0.6rem;
}

.track-footer .fa-heart-o {
  font-size: 0.85rem;
  color: #D8D8D8;
  cursor: pointer;
  transition: all .2s ease-in
}

.track-footer .fa-heart-o:hover {
  font-weight: bold;
  color: black;
}

.track-footer .fa-heart {
  color: #1E88E5;
  cursor: pointer;
  font-size: 0.85rem;
  transition: all .2s ease-in

}

.track-footer .fa-clock-o {
  padding-right: 4px;
  font-size: 0.6rem;
  align-self: flex-start;
}

.track-drop-list {
  position: absolute;
  top: 15px;
  right: 0px;
  width: 130px;
  z-index: 10;
  background-color: white;
  border: 1px solid #D8D8D8;
  padding: 10px;
  max-height: 110px;
  overflow: auto;
  box-shadow: 0px 2px 3px 0px #d8d8d8;

}

.like-drop-down {
  height: 14px;
  position: relative;

}

.like-drop-down h4 {
  font-size: 0.7rem;
  text-transform: capitalize;
  text-align: left;

}

.track-drop-list button {
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  padding: 0;
  margin: 0;
  padding-bottom: 9px;
  color: #1E88E5;
}

.track-drop-list button:focus {
  outline: none;
}

.track-drop-list ul {
  border-top: 1px solid #d8d8d8;
}

.track-drop-list li {
  font-size: 0.7rem;
  padding-top: 10px;
  position: relative;
  cursor: pointer;
}

.track-drop-list label.checkbox {
  padding-left: 20px;
  cursor: pointer;
}

.indicator {
  border-radius: 3px;
  border: 1px solid #dde4e6;
  position: absolute;
  left: 0;
  top: 9px;
  width: 0.9rem;
  height: 0.9rem;
  background-color: #ffff;
  cursor: pointer;
  transition: all .2s ease-in;
}

label:hover > .indicator,
.indicator:hover {
  border: 2px solid #2196f3;
}

input[type=checkbox] {
  opacity: 0;
}

.track-drop-list label.checkbox > input[type="checkbox"]:checked ~ .indicator {
  background: #2196f3 url('data:image/svg+xml;utf8,<svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 75 75"><defs><style>.cls-1{fill:#fff;}</style></defs><title>Artboard 1</title><g id="GyyoQ7.tif"><path class="cls-1" d="M71.23,18.81l-6.12-6.12a4.05,4.05,0,0,0-5.73,0h0L30.59,41.48l-13-13a4,4,0,0,0-5.73,0h0L5.77,34.64a4.05,4.05,0,0,0,0,5.73h0L21.6,56.19l6.12,6.12a4.05,4.05,0,0,0,5.73,0h0l6.12-6.12L71.23,24.54a4,4,0,0,0,0-5.73Z"/></g></svg>') no-repeat;
  border: 2px solid #2196f3;
}

.click-background{
  background-color: beige;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 9;
}

.explore-container .click-background{
  background-color: beige;
  position: absolute;
  top: 0;
  bottom: -420px;
  left: 0;
  right: 0;
  opacity: 0;
  z-index: 9;
}

.track-footer .blue {
  color: #1E88E5;
  font-weight: 600;
}
