
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

//over ride noraml css

h3, h5, h2, h1 {
  margin: 0;
}

section, ul {
  width: 100%;
  margin: 0;
  padding: 0;
}

li, ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
//a:link,
//a:visited{
//  outline: none;
//  background:none;
//  color: initial;
//  transition: none;
//  will-change: initial;
//}
//
//a:hover,
//a:focus{
//  outline: none;
//}
//
//a:active{
//  outline: none;
//}

a{
  text-decoration: none;
}
html{
  width: 100%;
  height: 100%;
}

body{
  width: 100%;
  height: 100%;
  background-color: white;
}

#root{
  width: 100%;
  height: 100%;
}

.app-wraper{
  width: 100%;
  height: 100%;
}

input:focus{
  outline: none;
}


main{
  height: calc(100% - 64px);
  position: relative;
}
//explore component
//general
.explore {
  color: black;

  display: flex;
  min-height: calc(100% - 64px);

  flex-direction: column;

}

.explore-container{
  height: calc(100% - 59px);

}

.over-flow-explore{
  position: absolute;
  top: 40px;
  bottom: 60px;
  overflow: auto;
}

.spinner-wrapper{
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

//sign up page

.sign-up{
  //background-color: #2196f3;
  //position: absolute;
  //top: 0;
  //bottom: 0;
  //right: 0;
  //left: 0;

  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.sign-up-card{
  background-color: white;
  width: 540px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;


}

.sign-up-logo{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 70px;
}

.sign-up .fa{
  font-size: 8rem;
  color: #2196f3;
}

.sign-up h1{
  font-size: 2.5rem;
  color: #2196f3;
  font-weight: 500;

}

.sign-up form{
  display: flex;
  flex-direction: column;
  width: 75%;
  align-items: flex-start;;
}

.sign-up h2{
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 20px;
  text-transform: capitalize;
}

.sign-up label{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.sign-up label span{
  color: #2196f3;
  font-size: 0.75rem;
}

//inputs
.input-container{
  width: 100%;
}

.input-container>label{
  display: none;
}

//input[type=email],
//input[type=text],
//input[type=password]{
//  margin-bottom: 40px;
//  width: 100%;
//  display: block;
//  border: none;
//  padding: 10px 0;
//  border-bottom: solid 1px #2196f3;
//  will-change: background-position;
//  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
//  background: linear-gradient(to bottom, rgba(33, 150, 243, 0) 96%, #2196f3 96%);
//  background-position: -200px 0;
//  background-size: 200px 100%;
//  background-repeat: no-repeat;
//  color: #2b3033;
//}
//
//input[type=email]:focus,
//input[type=email]:valid,
//input[type=text]:focus,
//input[type=text]:valid,
//input[type=password]:focus,
//input[type=password]:valid{
//  margin-bottom: 40px;
//  width: 100%;
//  display: block;
//  border: none;
//  padding: 10px 0;
//  will-change: background-position;
//  transition: all 0.3s cubic-bezier(0.64, 0.09, 0.08, 1);
//  background: linear-gradient(to bottom, rgba(33, 150, 243, 0) 96%, #2196f3 96%);
//  background-position: 0;
//  background-size: 100% 100%;
//  background-repeat: no-repeat;
//  color: #2b3033;
//  font-size: 1rem;
//
//}
//
//input[type=email]::-webkit-input-placeholder,
//input[type=text]::-webkit-input-placeholder,
//input[type=password]::-webkit-input-placeholder,
//input[type=email]:focus::-webkit-input-placeholder,
//input[type=text]:focus::-webkit-input-placeholder,
//input[type=password]:focus::-webkit-input-placeholder{
//  color: #2196f3;
//}
//
//.input-container input[type=email]:valid ~ label,
//.input-container input[type=text]:valid ~ label,
//.input-container > input[type=password]:valid + label{
//  display: block;
//}

.sign-up button{
  background-color: #2196f3;
  color: white;
  border: 0;
  align-self: center;
  padding: 10px 16px;
  margin: 20px 0;
  font-size: 0.8rem;
  font-family: inherit;
}

.sign-up-footer{
  font-size: 0.8rem;
  display: flex;
  margin-top: 20px;
}

.sign-up-footer p{
  margin-right: 15px;
}

.sign-up-footer a{
color: #2196f3
}
