.pagination{
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  margin-bottom: 15px;
}

.pagination button{
  height: 30px;
  width: 80px;
  border: 0;
  border-radius: 2px;
  color: white;
  font-size: 0.8rem;
  padding: 0;
  line-height: 0.8rem;
}

.prev-btn{
background-color: #D8D8D8;
}

.next-btn{
  background-color: #2196f3;
}

.page-num{
  padding: 0 30px;
}
