@import 'assets/styles/colors';

header {
  background-color: $mainBlue;
  width: 100%;
  height: 64px;
  display: flex;
  flex-direction: row;
  padding: 0 10px;
  padding-left: 0;
  margin: 0;
}

.logo {
  height: 100%;
  align-self: flex-start;
  color: #ffffff;
  display: flex;
  align-items: center;
  padding: 20px;
  @include linear-gradient(to right, $mainBlue);
}

.logo span{
  font-size: 1.3rem;
  padding-left: 10px;
}

.logo .fa {
  font-size: 1.88rem;
  line-height: 64px;
}

.nav-list {
  height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  font-size: 0.9rem;
  font-weight: 300;
  flex-direction: row;
}

.nav-list li {
  height: 100%;
  width: 100px;
  display: flex;
}

.nav-list a {
  height: 100%;
  line-height: 64px;
  width: 100%;
  color: white;
  text-align: center;
  letter-spacing: 0.04rem;
}

.search-input {
  height: 100%;
  width: 70%;
  padding-left: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}
//
.search-input form > input.search {
  height: 30px;
  width: 100%;
  color: $navGray;
  background-color: $white;
  padding-left: 30px;
  font-size: 0.9rem;
  margin: 0;
  border: 1px solid #fff9fc;
  border-radius: 30px;

}

.search-input form > input.search::-webkit-input-placeholder{
  margin: 0;
  padding: 2px;
  font-size: 0.9rem;
  color: $navGray;
  transform: none;
  text-transform: uppercase;
  font-weight: 300;
}

.search-input form{
  width:100%;
}

.log-out {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  cursor: pointer;
}

.log-out > button {
  width: 100%;
  text-align: center;
  background-color: rgba(1,1,1,0);
  border: 0;
  font-size: 0.9rem;
  padding: 0;
  color: white;
  text-transform: capitalize;
  font-weight: 300;

}

.nav-list .nav-selected {
  font-weight: 600;
  background-color: $darkenBlue;
  color: white;
}

.right-side-header{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search-input span{
  position: absolute;
  left: calc(29% + 9px);
  top: 25px;
  z-index: 1;
  color: $navGray;
  font-size: 0.9rem;
  cursor: pointer;
}
